@model IEnumerable<Assignment1.Models.DurationCost>

@{
    ViewData["Title"] = "Index";
}

<h1>Duration & Cost Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
