@model Assignment1.Models.Letter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Letter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Begin_comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Begin_comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Term_Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Term_Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_Final)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment_Final)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reference_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reference_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student_LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student_LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BSB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BSB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
