@model Assignment1.Models.Lesson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.StudentInstrument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tutor.TutorFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DurationCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationCost.LessonDurationCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
