@model IEnumerable<Assignment1.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<h1>Lessons Index</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="placeholder">Calculate Letter</a>
</p>
<form asp-controller="Lessons" asp-action="Index" method="get">
    <p>
        Students First Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument.StudentInstrument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.TutorFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationCost.LessonDurationCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
